<%- title -%>

<div class="max-w-2xl mx-auto mt-8">
  <%= render(Jove::Header::Component.new) do |header| %>
    <% header.title do %><%= t('.title') %><% end %>
    <% header.description do %><%= t('.body') %><% end %>

    <% header.action do %>
      <%= form_tag(new_admin_login_permit_path, method: :get) do %>
        <%= render(Jove::Button::Component.new(label: t('.new'), data: { turbo_frame: 'modal' })) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="w-full max-w-2xl mx-auto mt-8">
  <%= render(Jove::Panel::Component.new) do %>
    <div class="p-6 space-y-4">
      <%= render(Jove::StackedList::Component.new) do |list| %>
        <% @login_permits.each do |login_permit| %>
          <% list.item do |item| %>
            <% item.leading_avatar login_permit.permittable.avatar_url %>
            <% item.headline do %>
              <%= login_permit.permittable.name %>
              <% if login_permit.locked? %>
                &nbsp;
                <%= render(Jove::Badge::Component.new(color: :primary, label: t('.locked'), class: 'ml-2')) %>
              <% end %>
            <% end %>
            <% item.body do %><%= login_permit.permittable_type %><% end %>
            <% item.trailer do %>
              <% unless login_permit.locked? %>
                <%= form_tag admin_login_permit_confirm_destroy_path(login_permit), method: :get do %>
                  <%= render(Jove::Button::Component.new(label: t('.delete'), title: t('.delete_tooltip', name: login_permit.permittable.name), variant: :text, data: { turbo_frame: 'modal' })) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
