<%- title -%>

<% if ESIGrant::StructureDiscovery.pending_available? || ESIGrant::StructureDiscovery.unavailable? %>
  <div class="mx-auto mt-8 max-w-7xl">
    <%= render(Jove::Panel::Component.new(color: :notice)) do %>
      <div class="flex items-center p-4">
        <div class="flex-1">
          <p class="text-body-lg">
            No ESI token for syncing structures is configured.
            <% if ESIGrant::StructureDiscovery.pending_available? %><%= ESIGrant.human_attribute_name('pending_available', count: ESIGrant::StructureDiscovery.requested.count) %><% end %>
          </p>
        </div>
        <div>
          <%= form_tag(new_admin_esi_token_path, method: :get) do %>
            <%= hidden_field_tag(:grant_type, :structure_discovery) %>
            <%= render(Jove::Button::Component.new(variant: :text, color: :notice, label: 'Request token', data: { turbo_frame: 'modal' })) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="mx-auto mt-8 max-w-7xl">
  <%= render(Jove::Header::Component.new) do |header| %>
    <% header.title do %><%= t('.title') %><% end %>
    <% header.description do %><%= t('.description') %><% end %>

    <% header.action do %>
      <%= form_tag(new_admin_structure_path, method: :get) do %>
        <%= render(Jove::Button::Component.new(label: t('.new'), data: { turbo_frame: 'modal' }, disabled: ESIGrant::StructureDiscovery.unavailable?)) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="mx-auto mt-8 max-w-7xl">
  <%= render(Jove::Panel::Component.new) do %>
    <div class="p-4 space-y-4">
      <%= render partial: 'structures_grid', locals: { structures: @structures } %>
    </div>
  <% end %>
</div>
