<%- title @source.name -%>

<div class="max-w-2xl mx-auto mt-8">
  <%= render(Jove::Header::Component.new) do |header| %>
    <% header.title do %><%= @source.name %> (<%= @source.source_type %>)<% end %>
    <% header.description do %>
      <% if @source.disabled? %>
        <%= t('.disabled') %>
      <% elsif @source.pending? %>
        <%= t('.pending') %>
      <% else !@source.disabled? && @source.fetched? %>
        <%= t('.fetched_at') %>&nbsp;<%= local_time(@source.fetched_at) %>
      <% end %>
    <% end %>

    <% header.action do %>
      <% if @source.disabled? %>
        <%= form_tag(admin_market_order_source_confirm_enable_path(@source), method: :get) do %>
          <%= render(Jove::Button::Component.new(label: t('.enable'), color: :danger, data: { turbo_frame: 'modal' }, disabled: !@source.enableable?)) %>
        <% end %>
      <% else %>
        <%= form_tag(admin_market_order_source_confirm_disable_path(@source), method: :get) do %>
          <%= render(Jove::Button::Component.new(label: t('.disable'), color: :danger, data: { turbo_frame: 'modal' })) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="max-w-2xl mx-auto mt-8">
  <%= render(Jove::Panel::Component.new) do %>
    <div id="snapshots_chart" class="p-6 space-y-4">
      <h3 class="text-title-lg"><%= t('.snapshots_chart.title') %></h3>

      <%=
        render(Jove::Chartkick::Component.new(
          variant: :line,
          data: [
            { name: t('.snapshots_chart.fetched'), data: @source.snapshots.fetched.group_by_minute(:fetched_at, range: 1.hour.ago, expand_range: true).count },
            { name: t('.snapshots_chart.failed'), data: @source.snapshots.failed.group_by_minute(:failed_at, range: 1.hour.ago, expand_range: true).count }
            { name: t('.snapshots_chart.skipped'), data: @source.snapshots.skipped.group_by_minute(:failed_at, range: 1.hour.ago, expand_range: true).count }
          ]
        ))
      %>
  <% end %>
</div>
