<%= tag.div(class: wrapper_classes, data: data_attrs) do %>
  <%= tag.div(class: container_classes) do %>
    <div class="flex-1"><%= content %></div>
    <div class="flex space-x-2">
      <% if @dismissable %>
        <%= render(Jove::Button::Component.new(label: t('.dismiss'), variant: :text, color: @color, data: { action: 'click->jove--banner--component#close' })) %>
      <% end %>
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% end %>
<% end %>
