<div class="w-full max-w-2xl mx-auto mt-8">
  <%= render(Jove::Panel::Component.new) do %>
    <div class="p-6 space-y-4">
      <h3 class="text-xl font-medium"><%= t('.headline') %></h3>

      <p class="text-md"><%= t('.body') %></p>

      <%= render(Jove::StackedList::Component.new) do |list| %>
        <% tokens.each do |token| %>
          <% list.item do |item| %>
            <% item.headline do %>
              <%= token.grant_type.humanize %> (<%= token.name %>)
            <% end %>
            <% item.body do %><% end %>
            <% item.trailer do %>
              <%= form_tag settings_esi_token_authorize_path(token) do %>
                <%=
                  render(
                    Jove::Button::Component.new(
                      label: t('.authorize'), color: :success,
                      title: t('.authorize_tooltip', type: token.grant_type.humanize, name: token.name),
                      variant: :text,
                      data: { turbo: false }
                    )
                  )
                %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
