<div class="w-full max-w-2xl mx-auto mt-8">
  <%= render(Jove::Panel::Component.new) do %>
    <div class="p-6 space-y-4">
      <h3 class="text-xl font-medium"><%= t('.headline') %></h3>

      <p class="text-md"><%= t('.body') %></p>

      <%= render(Jove::StackedList::Component.new) do |list| %>
        <% tokens.each do |token| %>
          <% list.item do |item| %>
            <% item.headline do %>
              <%= token.grants.first.model_name.human %> (<%= token.name %>)
            <% end %>
            <% item.body do %><% end %>
            <% item.trailer do %>
              <%= form_tag settings_esi_token_confirm_approve_path(token), method: :get do %>
                <%=
                  render(
                    Jove::Button::Component.new(
                      label: t('.approve'), color: :success,
                      title: t('.approve_tooltip', type: token.grants.first.model_name.human, name: token.name),
                      variant: :text,
                      data: { turbo_frame: 'modal' }
                    )
                  )
                %>
              <% end %>

              <%= form_tag settings_esi_token_confirm_reject_path(token), method: :get do %>
                <%=
                  render(
                    Jove::Button::Component.new(
                      label: t('.reject'), color: :danger,
                      title: t('.reject_tooltip', type: token.grants.first.model_name.human, name: token.name),
                      variant: :text,
                      data: { turbo_frame: 'modal' }
                    )
                  )
                %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
